<h1>Kurs qo'shish</h1>
<form action="/add" method="post">
    <div class="input-field col s6">
        <input id="name" type="text" class="validate" required>
        <label for="name">Kurs nomi</label>
        <span class="helper-text" data-error="Kurs nomini kiriting."></span>
    </div>
    <div class="input-field col s6">
        <input id="price" type="number" class="validate" required>
        <label for="price">Kurs narxi</label>
        <span class="helper-text" data-error="Kurs narxini kiriting."></span>
    </div>
    <div class="input-field col s6">
        <input id="img" type="text" class="validate" required>
        <label for="img">Rasm URL</label>
        <span class="helper-text" data-error="Rasmni kiriting."></span>
    </div>
    <button class="btn btn-primary">Kurs qo'shish</button>
</form>