<h1>O'quvchi qo'shish</h1>
<form action="/addStudent" method="post">
    <div class="input-field col s6">
        <input id="fullname" name="fullname" type="text" class="validate">
        <label for="fullname">Ism, familiya</label>
    </div>
    <div class="input-field col s6">
        <input id="age" name="age" type="number" class="validate">
        <label for="age">Yosh</label>
    </div>
    <div class="input-field col s6">
        <input id="job" name="job" type="text" class="validate">
        <label for="job">Kasb</label>
    </div>
    <button class="btn btn-primary">Qo'shish</button>
</form>